.cursor {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  pointer-events: none;
}

.cursor-1 {
  width: 45px;
  height: 45px;
  transition: all 0.05s linear;
  background-color: transparentize($color-tertiary, 0.6);
}

.cursor-2 {
  width: 30px;
  height: 30px;
  background-color: transparentize($color-tertiary, 0.4);
}
