.footer {
  @include flex_center;
  background-color: $color_neutral;

  &_info {
    font-size: 18px;
    line-height: 24px;
    color: $color-neutral-light;

    .heart {
      cursor: pointer;
      color: $color-primary;
      animation: heartbeat 1s alternate-reverse infinite;

      &:hover {
        color: $color-secondary;
      }
    }

    @keyframes heartbeat {
      0% {
        transform: scale(0.65);
      }
      20% {
        transform: scale(0.7);
      }
      50% {
        transform: scale(0.75);
      }
    }
  }
}
