@import './core/variables';
@import './core/mixins';

body {
  cursor: none;
  margin: 0;
  padding: 0;
  color: $color_neutral;
  font-size: 16px;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eceaea;
  background-image: url('https://www.transparenttextures.com/patterns/corrugation.png');
  box-sizing: border-box;

  ::selection {
    color: $color-highlight;
    background: $color-tertiary;
  }
}

button {
  cursor: none;
}

.wrapper {
  margin: 20px 40px;
  padding-left: 0;
  min-width: 90vw;

  @include tablet {
    margin: 20px 60px;
    padding-left: 0;
  }

  @include desktop {
    margin: 20px 80px;
    padding-left: 0;
    min-width: 1200px;
    max-width: 1200px;
  }
}

.title {
  font-family: $font-title;
}

.link {
  font-weight: 500;
  color: $color-primary;

  &:hover {
    color: $color-secondary;
  }
}

.highlight {
  font-weight: 100;
  color: $color-primary;
}

.italic {
  font-style: italic;
}

.hidden {
  display: none;
}
