// BREAKPOINTS
$tablet: 767px;
$desktop: 1280px;

// COLORS
$color-primary: #23a79f;
$color-secondary: #27bdba;
$color-tertiary: #6dabf7;
$color-highlight: #fcd1d8;

$color-neutral: #363636;
$color-neutral-dark: #4b4b4b;
$color-neutral-light: #929292;

$color-background: #eceaea;
$color-light: #ffffff;
$color-dark: #000000;

// FONTS
$font-primary: 'Roboto', sans-serif;
$font-title: 'DM Serif Display', serif;
